/* Assuming you have a global reset or base styles */
section#projects {
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-bottom: 1px solid #000;
}

.projects-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.projects-title h2{
    color: white;
    margin-bottom: 40px;
    margin-top: -40px;
    font-size: 2.4rem;
    font-weight: 500;
}


.projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

@media (min-width: 768px) {
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 3.5rem;
    }
}

@media (min-width: 1024px) {
    .projects-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.project-card {
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.project-card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.project-card-description {
    font-size: 1rem;
    line-height: 1.5;
    color: #666666;
}

.project-card img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
}




.projects-card {
    width: 100%;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    height: auto;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-radius: 1rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to right, #f5f5f5, #202327);
    transition-property: background-color;
    transition-duration: 1s;
}

.projects-card:hover {
    background-image: linear-gradient(to bottom, #202327, #202327);
}

.image-container {
    width: 100%;
    height: 80%;
    overflow: hidden;
    border-radius: 1rem;
}

.image-container img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.projects-card:hover img {
    transform: scale(1.1);
}

.card-title {
    font-size: 1.25rem;
    text-transform: uppercase;
    color: #ff014f;
    font-weight: normal;
}

.card-icons {
    display: flex;
    gap: 0.5rem;
}

.card-icon {
    font-size: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    transition: color 0.3s ease;
    cursor: pointer;
}

.card-icon:hover {
    color: #ff014f;
}

.card-description {
    font-size: 0.875rem;
    line-height: 1.5;
    color: #666666;
    margin-top: 0.75rem;
    transition: color 0.3s ease;
}

.card-description:hover {
    color: #fff;
}